/* Navbar.css */

html, body {
  font-family: 'Outfit', sans-serif;
  margin: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2D3452; /* Dark blue background */
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000; /* Ensure it stays above other content */
  border-style: solid;
  border-color: #ffffff;
  
}

.navbar-left {
  display: flex;
  align-items: center;
}

.navbar-logo {
  width: 110px;
  height: 40px;
  margin-right: 10px;
}

.navbar-right {
  display: flex;
  align-items: center;
}

.navbar-icon {
  color: white;
  font-size: 24px;
  margin-left: 20px;
  cursor: pointer;
}

.profile-dropdown {
  display: flex;
  align-items: center;
  position: relative;
}

.dropdown-toggle {
  background-color: transparent;
  border: none;
  color: white;
  margin-left: 10px;
  padding: 0;
  font-size: 24px;
  cursor: pointer;
}

.dropdown-menu {
  background-color: #ffffff;
  border: none;
  border-color: black;
  border-style: solid;
}

.dropdown-item {
  color: rgb(0, 0, 0);
}

.dropdown-item:hover {
  background-color: rgba(255, 255, 255, 0.1); /* Transparent hover color */
}

.dropdown-icon {
  font-size: 18px;
  margin-left: 5px;
  color: white;
}

.button-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #2D3452;
  border-radius: 10px;
}

.login-button,
.signup-button {
  margin-right: 3%;
  font-size: 24px;
  font-weight: bold;
  padding: 3px 15px;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
  
}

.login-button {
  background-color: white;
  color: black;
  border: none;
}

.signup-button {
  background-color: #2b3145;
  color: white;
  border: 2px solid white;
}
.logout-button{
  background-color: white;
  color: black;
  border: none;
  font-size: 24px;
  font-weight: bold;
  padding: 3px 15px;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}


.login-button:hover,.logout-button:hover
.signup-button:hover {
  transform: scale(1.05);
}

.login-button:focus,.logout-button:hover
.signup-button:focus {
  outline: none;
}

/* Navbar.css */

.dialog-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.dialog-box {
  background: #2b3145;
  padding: 20px;
  border-radius: 10px;
  color: #ffffff;
  text-align: center;
  border-width: 1px;
  border-style: solid;
  border-color: #ffffff;
}

.dialog-box p {
  margin-bottom: 20px;
  font-size: 18px;
}

.dialog-box button {
  margin: 0 10px;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 100px;
  color: #2b3145;
  background-color: #ffffff;
  cursor: pointer;
}
